/* SubmittedOrders.css */

.orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.order-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-card h3 {
    margin-top: 0;
}

.order-card ul {
    list-style-type: none;
    padding: 0;
}

.order-card ul li {
    margin-bottom: 5px;
}
